.me {
  margin-bottom: 50px;
}

.me__photo {
  margin-bottom: 20px;
  width: 100%;
  height: 500px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.me__desc {
  text-align: center;
}

.me__fullname {
  margin-bottom: 10px;
  font-size: 42px;
}

.my__proffesion {
  font-size: 32px;
}

@media (max-width: 1024px) {
  .me__photo {
    height: 400px;
  }

  .me__fullname {
    font-size: 32px;
  }

  .my__proffesion {
    font-size: 24px;
  }

}
