
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wripper {
  color: #fff;
  background: #063146;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  display: grid;
  grid-template-areas:
  "left right";
  grid-template-columns: 1fr 2fr;
  grid-gap: 100px;
}


/* grid-area: content;

padding: 20px 20px; */
